body{
    background-image:linear-gradient(rgba(236, 244, 248, 0.705),rgba(144, 206, 236, 0.705));
    font-family:"Karla";
    text-align: center;
    margin:auto;
    box-sizing: border-box;
    }

header{
    padding:15px;
    margin-top:0;
}

h1{ 
    color:rgb(59, 61, 75);
    width:90%;
    margin:auto;
    padding:25px;
    top:0px;
    font-size:7rem;
    text-shadow: 2px 1px white;
    text-transform:uppercase;
    font-weight:bold;}

h2{
    background-color:rgba(9, 66, 88, 0.616);
    color:rgb(238, 245, 236);
    margin:auto;
    margin-bottom:30px;
    font-size:2.5em;
    text-shadow:1px 1px black;
    border-bottom:2px solid rgba(0, 0, 0, 0.3);
    clear:both;
}
 
h3{
  margin:10px; 
  margin-top:20px;
  color:white; 
}

p{
    color:rgba(255, 255, 255, 0.678);
    display:block;
    padding:5px;
    font-size:14px;
}

section{ width:100% }

img{
    background-color:#ffff;
    width:100%;
    margin:auto;
}

@keyframes discount{
    0% {transform:scale(1);}
    15% {transform:scale(0.9);}
    25% {transform:scale(1);}
    45% {transform:scale(1);}
    65% {transform:scale(1);}
    85% {transform:scale(0.9);}
    100% {transform:scale(1);}
}

.grid-item:nth-child(1)::before{
    animation: discount 3s infinite;
    content:"";
    background-image:url("https://images.vexels.com/media/users/3/126945/isolated/preview/2209197f098ab771ab24282e1c0879a8-30-percent-discount-sale-tag-by-vexels.png");
    display:block;
    width:120px;
    height:120px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
}

.grid-item:hover{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    transform:translateY(-5px);
}

/* grid floats styling starts */

#grid-floats, #grid-flex{
    list-style-type: none;
}

#grid-floats .grid-item{
    background-color:rgba(31, 29, 29, 0.712);
    display:grid;
    float:left;
    width:calc((100% - 12.5rem) / 4);
    height:550px;
    margin:0 10px 60px 25px;
    border:2px rgba(136, 131, 196, 0.712);
    border-radius: 2%;
    overflow: hidden;
} 

#grid-floats .grid-item:nth-child(1){
    width:calc((100% - 8rem) / 2);
    height:550px;
    
    
}

/* GRID-FLOATS MEDIA QUERIES */

@media only screen and (max-width:1000px){
    #grid-floats .grid-item:nth-child(1){
    width:calc((100% - 10em) / 2);
    height:550px;
}

#grid-floats .grid-item:nth-child(2){
    width:calc((100% - 10em) / 2);
    height:550px;
}

#grid-floats .grid-item:nth-child(n+3){
    width:calc((100% - 13em) / 3);
    height:550px;
}
}

@media only screen and (max-width:719px){
    #grid-floats .grid-item:nth-child(1){
    width:calc((100% - 5rem) / 1);
    height:550px;
}

#grid-floats .grid-item:nth-child(n+2){
    width:calc((100% - 7rem) / 2);
    height:550px;
}
}

@media only screen and (max-width:450px){
    #grid-floats .grid-item:nth-child(1){
    width:calc((100% - 3rem) / 1);
    height:550px;
}
    #grid-floats .grid-item:nth-child(n+2){
    width:calc((100% - 5.5rem) / 2);
    height:550px;
}
}

/* GRID-FLOATS MEDIA QUERIES ENDS */


/* grid floats styling ends */

#grid-flex{
    display:inline-flex;
    flex-wrap:wrap;
}

#grid-flex .grid-item{
    background-color:rgba(8, 8, 8, 0.534);
    flex-basis:calc((100% - 12.5rem) / 4);
    height:550px;
    margin:15px;
    margin-bottom:60px;
    border-radius: 2%;
}

#grid-flex .grid-item:hover{
    box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.3);
}

#grid-flex .grid-item:nth-child(1){
    flex-basis:calc((100% - 10rem) / 2);
    height:550px;
}

/* GRID-FLEX MEDIA QUERIES */

@media only screen and (max-width:1000px){
    #grid-flex .grid-item:nth-child(1){
     flex-basis:calc((100% - 10em) / 2);
}
    #grid-flex .grid-item:nth-child(2){
    flex-basis:calc((100% - 10em) / 2);
    height:550px;
}

    #grid-flex .grid-item:nth-child(n+3){
    flex-basis:calc((100% - 13em) / 3);
    height:550px;
}
}

@media only screen and (max-width:719px){
    #grid-flex .grid-item:nth-child(1){
    flex-basis:calc((100% - 4rem) / 1);
    height:550px;
}

    #grid-flex .grid-item:nth-child(n+2){
    flex-basis:calc((100% - 5rem) / 2);
    height:550px;
}
}

@media only screen and (max-width:450px){
    #grid-floats .grid-item:nth-child(1){
    width:calc((100% - 3rem) / 1);
    height:550px;
}
    #grid-floats .grid-item:nth-child(n+2){
    width:calc((100% - 5.5rem) / 2);
    height:550px;
}
}

/* GRID-FLEX MEDIA QUERIES ENDS */

